html {
  scroll-behavior: smooth;
}


h1, h2, h3, h4 {
  font-family: 'Courier New', Courier, monospace;
  /* Opcional: añade estas propiedades para que luzcan mejor */
  font-weight: bold;
  letter-spacing: -0.5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* HEADER */



header {
  background: #0c0c0c;
  padding-left:1rem;
  padding-right:1rem;
}

.navContainer{
  display: flex;
  justify-content: space-between;
  max-width: 62rem;
  margin: 0 auto;
}

.imgLink{
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(1.5)
}

.menu-icon {
  cursor: pointer;
  padding: 0.5rem;
  box-sizing: border-box;
}

.bar {
  width: 3.07rem;
  height: 3.07rem;
  transition: 0.3s;
  filter: brightness(0) invert(1)
}

.nav-links {
  display: none;
  position: absolute;
  flex-direction: column;
  text-align: center;
  width: 40vw;
  background-color: #0c0c0c;
  top: 52px;
  right: 0;
  gap: 2rem;
  padding: 1.2rem 0 1.2rem 0;
  color: white;
}


.nav-links.active {
  display: flex;

}

nav li {
  list-style: none;

}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

nav a:hover{
    color: #f9e78b;
  }

@media (min-width: 850px) {

.menu-icon {
  display: none;
}

.nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    gap: 3rem;
    padding: 0.5rem 0 0.5rem 0;
  }

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  white-space: nowrap
}

}


main{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  gap: 3rem;
}

/*===========
    HOMEPAGE
  ===========*/



/* HERO */



#hero {
  background: #47603f;

}

.heroContent {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  min-height: 300px;
  max-width: 62rem;
  gap: 2rem;
  padding-left:1rem;
  padding-right:1rem;
}


.title {
  display: flex;
  flex-direction: column;
  width: 35ch;
  min-width: 35ch;
  margin-right: 1rem;
}


#hero img {
  border-radius: 20px;
  width: 20rem;
  object-fit: cover;
}


#hero h1{
  margin:0.3em;
  color: yellow
}

#hero h2, #hero p {
  margin:0.3em;
  color: white
}

#hero .button {
  margin-top: 3em;
  text-decoration: none;
  background: black;
  border-radius: 20px;
  width: fit-content;
  padding: 1rem;
  color: white;
  font-weight: bold;
  align-self: center;
}

#hero .button:hover{
    color: #f9e78b;
  }


@media (min-width: 700px) {

.heroContent {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem;
  min-height: 300px;
  max-width: 62rem;

}

#hero img {
  border-radius: 20px;
  width: 20rem;
  object-fit: cover;
  margin-bottom: -10rem;
}

#hero .button {
  align-self: start;
  
}

}



/* HIGHLIGHTS */



#highlights {
  padding-top: 5rem;
  overflow: auto;

}

.special {
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width:60rem;
  margin: 0 auto;
  padding: 2rem;
  gap: 1rem;
}

#order {
  text-decoration: none;
  background: black;
  border-radius: 20px;
  width: fit-content;
  padding: 1rem;
  color: white;
  font-weight: bold;
  white-space: nowrap
}

#order:hover{
    color: #f9e78b;
  }

.allCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
  gap: clamp(1rem, 5vw, 6rem);
  padding: 1rem;

}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 1 17rem;
  background: #f9f9f9;
  min-width: 250px;
  height: 30rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 17rem;
  height:12rem;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding: 0.8rem;
  position: relative;
  flex-grow: 1;
}

.cardBody h3 {
  margin-top: 0.5rem
}

.cardBody span {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  color: #ff8c00;
  font-weight: bold
}

.cardBody a{
  text-decoration: none;
  align-self: center;
  margin-top: auto;

}



/* TESTIMONIALS */



#testimonials{
  background: #FBDABB;
  padding: 3rem 0 10rem 0;
}

#testimonials h2{
  text-align: center;
  padding: 3rem;
  margin-top: 0;
}

.rating {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.ratingCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25ch;
  min-width: 25ch;
  gap:1rem;
  background-color: #1e4522d0;
  padding: 1rem;
  border-radius: 10px;
  color: white
}

.photoName {
  display: flex;
  align-self: start;
  gap: 1rem;
  flex-grow: 1;
}

strong:hover {
    color: #f9e78b;
}


/* ABOUT */



#about {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 120ch;
  margin: 5rem auto;
  gap: 1rem;
  height: 50rem;
  padding-left: 1rem;
  padding-right: 1rem;

}

.first {
max-width: 40ch;
min-width: 30ch;
}
.second {
  position:relative;
}

.a {
  width: 25ch;
   z-index: 1;
}

.b {
  width: 25ch;
  position:absolute;
  top: 100px;  /* Baja la segunda foto */
  left: 100px;
  z-index: 2;

}

@media (min-width: 780px){

  #about{
    grid-template-columns: repeat(2, 1fr);
    height: 30rem;
    gap: 8rem;
  }


}


/* FOOTER */



.footer{
  background: #EDEFEE;
}

.Contentfooter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: start;
  gap: 3rem;
  padding-bottom: 3rem;
  padding-top: 1rem;
  padding: 3rem 1rem 1rem 1rem;
  margin: 0 auto;
  max-width: 62rem;

}

.div1{
  display:flex;
  gap: 3rem;
  align-items: center;

}

.div2{
  display:flex;
  align-items: center;
  gap: 3rem;
}

.footer div div div{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
}

.footer img{
  width:6rem;
}

.footer li, a {
  list-style: none;
  text-decoration: none;
  color: black
}

.footer h4{
  margin: 0;
}



/*=============
    BOOKINGPAGE
  =============*/



.bookingPage{
  display: grid;
  align-items: center;
  justify-content: center;
  background: #fbdabb;
  z-index: 0;
}

.imgContainer{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  height: 80vh;
  overflow: hidden;
}


.formContainer{
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}


.restaurantImg{
  position: relative;
  filter: brightness(0.4);
   z-index: -1;

}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:1rem;
  align-items: center;
  margin: 1rem auto;
  border-radius: 10px;
  width: 300px;
  padding: 1rem;
  background: #47603f;
  box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.2);
  }

  form label{
    font-family: 'Courier New', Courier, monospace;
    color: #edefee;
    font-weight: bold;
    align-self: start;
    margin-left: 0.3rem;
    font-size: 0.95rem;
    margin-bottom: -0.6rem;

  }

  form input, select {
    padding: 0.7rem;
    border-radius: 10px;
    border: 1px solid rgb(105, 105, 105) ;
    width: 300px;
    box-sizing: border-box;
    background: #edefee
  }

  form p {
    color: #fabe88f7;
    margin: 0;
    font-style: italic;
    font-size: 0.8rem;
    align-self: start;
    margin-left: 0.3rem;
    margin-top: -0.6rem
  }

.sumbitButton{
    background: #0c0c0c;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width: fit-content;
    padding: 1rem;
    cursor: pointer
  }

  .sumbitButton:hover{
    color: #f9e78b;
  }

  .sumbitButtonDisabled {
    background: #0c0c0c;
    color: #ffffff;
    opacity: 0.5;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width: fit-content;
    padding: 1rem;
  }


  /*=============
    CONFIRMEDPAGE
  ===============*/

  .confirmed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fbdabb;
  min-height:72vh;
  }

.confimerCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(123, 123, 123);
  border-radius: 10px;
  width: 300px;
  padding: 1rem;
}











